import * as core from '@actions/core';

const run = async () => {
  core.setFailed('{{ githubActionName }} GitHub Action is not implemented!');
};

try {
  await run();
} catch (error) {
  core.setFailed(`Action failed with error: ${error}`);
}
