import { test, expect, vi } from 'vitest';
import * as core from '@actions/core';

vi.mock('@actions/core', () => ({
  setFailed: vi.fn(),
}));

test('{{ githubActionName }} GitHub Action fails', async () => {
  // ACT
  // @ts-ignore
  await import('./index.mts');

  // ASSERT
  expect(core.setFailed).toHaveBeenCalledTimes(1);
  expect(core.setFailed).toHaveBeenCalledWith(
    '{{ githubActionName }} GitHub Action is not implemented!'
  );
});
