{
  "name": "@{{ githubRepositoryOwner }}/{{ githubRepositoryName }}",
  "type": "module",
  "description": "{{ githubActionDescription }}",
  "keywords": [
    "github-actions"
  ],
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/{{ githubRepositoryOwner }}/{{ githubRepositoryName }}.git"
  },
  "engines": {
    "node": ">= 24.0.0"
  },
  "main": "index.ts",
  "scripts": {
    "clean": "npm run clean:gts",
    "clean:gts": "npx gts clean",
    "test": "npm run clean && npm run verify && npm run test:run",
    "test:run": "npx cucumber-js",
    "verify": "npm run verify:gts",
    "verify:gts": "npx gts check",
    "fix": "npm run clean && npm run fix:gts",
    "fix:gts": "npx gts fix",
    "dependency-management:show-major-updates": "npx npm-check-updates",
    "dependency-management:show-minor-updates": "npx npm-check-updates --target semver",
    "dependency-management:update-minor-dependencies": "npx npm-check-updates --target minor --upgrade && npm install",
    "prepare:husky": "husky",
    "prepare": "npm run prepare:husky"
  },
  "dependencies": {
    "@actions/core": "3.0.1",
    "@actions/exec": "3.0.0",
    "@actions/github": "9.1.1"
  },
  "devDependencies": {
    "@types/node": "24.13.3",
    "chai": "6.2.2",
    "gts": "7.0.0",
    "husky": "9.1.7",
    "lint-staged": "17.3.0",
    "npm-check-updates": "23.1.0",
    "rimraf": "6.1.3"
  },
  "lint-staged": {
    "*.{ts,tsx,js,jsx}": "gts fix",
    "*.json": "prettier --write"
  }
}
