# {{ githubRepositoryName }}

{{ githubActionDescription }}.

## ⚠️ Disclaimer & Liability

This is a hobby project. I make no guarantee that it is production-ready. The project may contain experimental or incomplete features.

Use it at your own risk, and carefully review and adapt the configuration before using it in your own environment.

## ⚖️ License

This project is licensed under the [MIT License](https://github.com/{{ githubRepositoryOwner }}/{{ githubRepositoryName }}?tab=MIT-1-ov-file).
