const {{githubActionNameCamelCase}} = async (core: typeof import('@actions/core')): Promise<void> => {
  core.setFailed('{{githubActionName}} is not implemented yet!');
};

export default {{githubActionNameCamelCase}};
